<div id="page-signup" class="page page--public container">
  <div class="row">
    <header>
      <h1>Task Master</h1>
    </header>
    <main>
      <form class="form-signup">
        <p><a class="link-signup" href="#page-login">&laquo; Back to login</a></p>
        <p>Create a free account by providing the following information:</p>
        <ul class="list-unstyled">
          <li class="form-group">
            <label>Your Name</label>
            <input class="form-control" type="text" name="name" id="name" />
            <p class="feedback feedback--name d-none">Please enter a name for your account.</p>
          </li>
          <li class="form-group">
            <label>Email</label>
            <input class="form-control" type="text" name="email" id="email" />
            <p class="feedback feedback--email d-none">Please enter a valid email address for your account.</p>
          </li>
          <li class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" name="password" id="password" />
          </li>
          <li class="form-group">
            <label>Re-enter Password</label>
            <input class="form-control" type="password" name="password2" id="password2" />
            <p class="feedback feedback--password d-none">Passwords do not match.</p>
          </li>
        </ul>
        <button type="submit" class="btn btn-success">Create account</button>
        <p class="feedback feedback--submit-error d-none">An error occurred while creating your account. Please try again.</p>
      </form>
    </main>
  </div>
</div>
